<div class="page-header">
	<h1>Login</h1>
</div>

<form ng-submit="main.doLogin();">
	
	<label>Nome de Usuário:</label>
	<input class="form-control" type="text" name="username" placeholder="Insira Nome de Usuário" ng-model="main.loginData.username">
	<br>

	<label>Senha:</label>
	<input class="form-control" type="password" name="password" placeholder="Insira Senha" ng-model="main.loginData.password">
	<br>

	<button class="btn btn-primary" type="submit">Login</button>
	<button style="float:right;" class="btn btn-primary" ng-click="main.goRegister();">Registrar</button>


</form>

<div class="junbotron text-center" ng-show="main.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Carregando...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="main.successMsg">
	<div class="alert alert-success">{{ main.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="main.errorMsg">
	<div class="alert alert-danger">{{ main.errorMsg }}</div>
</div>
