<div class="page-header">
	<h1>Registrar</h1>
</div>

<form ng-submit="register.regUser();">
	
	<label>Nome de Usuário:</label>
	<input class="form-control" type="text" name="username" placeholder="Insira Nome de Usuário" ng-model="register.regData.username">
	<br>

	<label>Senha:</label>
	<input class="form-control" type="password" name="password" placeholder="Insira Senha" ng-model="register.regData.password">
	<br>

	<button class="btn btn-primary" type="submit">Registrar</button>


</form>

<div class="junbotron text-center" ng-show="register.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Carregando...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="register.successMsg">
	<div class="alert alert-success">{{ register.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="register.errorMsg">
	<div class="alert alert-danger">{{ register.errorMsg }}</div>
</div>